$mobile: 375px;

@mixin logo () {
  width: 14.3%;
  display: inline-block;
}

@mixin navcontent ($height: 37px) {
  height: $height;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  width: 87.22%;
  align-items: center;
}

@mixin navbar__link () {
  text-decoration: none;
}

.body__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: yellow;
  height: 83px;
  
}

.navcontent__header {
  @include navcontent ();
  margin-left: 82px;
  @media screen and (max-width: $mobile) {
    margin: 0 auto;
}
}

.navigation {
  width: 46.072%;
}

.menu {
  display: flex;
  justify-content: space-between;
@media screen and (max-width: $mobile) {
  display: none;
}
}

@media screen and (max-width: $mobile) {
  .contact__request {
    display: none;
  }
}

.menu__link {
  @include navbar__link();
}

.contact__phone {
    padding-right: 42px;
}
  

.navcontent__footer {
  @include navcontent ($height: 133px);
  margin-left: 90px;
  @media screen and (max-width: $mobile){
    display: none;
  }
}

/*1*/

.sidebar {
  width: 5.695%;
  height: 707px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

.sidebar p {
  transform: rotate(90deg);
}

.sidebar p a {
  text-decoration: none;
}

.section1 {
  background: url("assets/images/section1.png");
  width: 94.3%;
  height: 707px;
  display: flex;
  background-size: cover;
}


.s1 {
  display: flex;
justify-content: space-between;
}

.turnkey_repair {

}

/*s2*/

.s2 {
width: 100%;
height: 1074px;
background-color: aqua;

}
.s2__navbar {
  width: 43.264%;
  margin-left: 41.24%;
  padding-top: 59px;
}

.s2__navbar_menu {
  display: flex;
  justify-content: space-between;
}

.s2__navbar_link {
  @include navbar__link();
}

.s2__projects {
  margin-top: 45px;
  margin-left: 6.875%;
  background-color: antiquewhite;
  display: flex;
  overflow: hidden;
}

.s2__description {
  width: 30.694%;
  height: 390px;
}

.photo1 {
  background-image: url("assets/images/photo1.png");
  width: 47.153%;
  height: 482.38px;
}

/*.photo2 {
  background-image: url("assets/images/photo2.png");
  width: 47.153%;
  height: 482.38px;
}*/